<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="assets/images/favicon.png">
  <title>ClayShop | REST API</title>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css"
  />
</head>

<body>
  <div class="container">
    <h1>
      <%= title %>
    </h1>
    <h3>Hi! Welcome to the ClayShop REST API.</h3>
    <div>
      You can see the authorized users' list on the
      <a href="/users">Users</a> route.
    </div>
    <img src="assets/images/welcome.gif" alt="ClayShop logo" />
  </div>
</body>

</html>
